.main__first-block {
    &__wrapper {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 74.98%, #000 100%), center/cover no-repeat var(--bgimg);
        border-radius: 0px 0px 1.25rem 1.25rem;
        overflow: hidden;
    }


    &.direction-block .main__first-block__wrapper {
        background: center/cover no-repeat var(--bgimg);
        border-radius: 1rem;
    }
}

#aboutPagingation {
    .swiper-pagination-bullet-active {
        opacity: 0.6;
    }
}