.scene {
  &-container {
    padding-top: 100vh;
    @screen xl {
      padding-top: 200vh;
    }
    [data-scene] {
      height: 300vh;
      position: relative;

    }

    &__el {
      @apply sticky flex gap-6 h-screen xl:items-center;
    }

  }

  &-content {
    &--blocks {
      @apply pt-24 xl:pt-0 h-full items-center;
      @screen xl {
        @apply grid grid-cols-12 gap-5;
      }

      .scene-content__el {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        & > a {
          @apply flex flex-col gap-3 sm:gap-5 p-5 pt-6 sm:p-8 h-fit;
          background-color: rgba(255, 255, 255, 0.02);
          backdrop-filter: blur(5.400000095367432px);
          z-index: 10;

          @screen xl {
            background-color: #0b0b0b;
            backdrop-filter: none;
          }
        }

        h2 {
          @apply text-20semiB sm:text-24med;
        }

        p {
          @apply text-14reg sm:text-17reg text-gray10;
        }

        backdrop-filter: blur(0.6000000238418579px);
        background-color: rgba(255, 255, 255, 0.01);
      }
    }

    &__el {
    }
  }
}

:root {
  --CardsBorderColor: #2a87c5, #8716c1, #fd79c0; /*цвет обводки карточки*/
  --CardsBorderOpacity: 0.3; /*цвет обводки карточки*/
  --CardsOpacity: 1; /*цвет подсвечивания карточки, чем меньше прозрачность, тем более заметно*/
  --CardsBorderRadius: 1.5rem; /*радиус скругления углов*/
}

.scene-content__el {
  background-color: rgba(255, 255, 255, 0.01);
  border-radius: var(--CardsBorderRadius);
  position: relative;
}
.scene-content__el:hover::before {
  opacity: 1;
}

@screen xl {
  // .scene-content__el::after,
  .scene-content__el::before{
    content: "";
    height: 100%;
    left: 0px;
    opacity: 1;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
  }
}


@property --sceneContentBack {
  syntax: '<angle>'; /* <- defined as type number for the transition to work */
  initial-value: 0deg;
  inherits: false;
}

.scene-content__el::before {
  background: linear-gradient(var(--sceneContentBack), rgba(255,255,255,1) 0%, rgba(0, 0, 0,1) 100%);
  // background: radial-gradient(
  //   550px circle at var(--mouse-x) var(--mouse-y),
  //   var(--CardsBorderColor),
  //   transparent 50%
  // );
  z-index: 2;
  padding: 2px;
  inset: 0px;
  zoom: 1 !important;
  opacity: var(--CardsBorderOpacity);
  border-radius: var(--CardsBorderRadius);

  animation: 4s cubic-bezier(0.55, 0.09, 0.68, 0.53) infinite sceneRotate;

  @keyframes sceneRotate {
    0% {--sceneContentBack: 0deg};
    100% {--sceneContentBack: 360deg}
  }
}
// .scene-content__el::after {
//   background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(153,153,153,1) 100%);
//   transform: rotate(50deg);

//   // background: radial-gradient(
//   //   500px circle at var(--mouse-x) var(--mouse-y),
//   //   rgba(255, 255, 255, 0.4),
//   //   transparent 40%
//   // );
//   border-radius: var(--CardsBorderRadius);
//   zoom: 1 !important;
//   z-index: 1;
// }
.scene-content__el > a {
  margin: 2px;
  position: relative;
  z-index: 2;
  opacity: var(--CardsOpacity);
  border-radius: var(--CardsBorderRadius);
}


#video-canvas {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1000ms;
  height: 100vh;
  object-fit: cover;
  width: 100vw;
}

#laoder {
  @apply h-screen bg-black90;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#loaderProgressLine {
  @apply w-screen h-screen;
  --translate-y: calc(100% - 6.375rem);
  --translate-x: -100%;
  transform: translate(var(--translate-x), var(--translate-y));
  width: 100vw;
  background-color: #000;
}


#singleOporaContainer {

  .pin-spacer {
    z-index: 11 !important;
  }

  #singleOporaSlider {
    @apply will-change-transform h-full;
    touch-action: pan-y;
    padding: min(27.77777777777778vw, 6rem) 0 min(15.55555555555556vw, 3.5rem);

    @screen sm {
      @apply pt-24  pb-14;
    }


    @screen xl {
      padding: 0 !important;
    }
  }

  .trigger {
    @apply h-[150vh];

    &:nth-child(2) {
      @apply relative h-[50vh];

      @screen xl {
        top: -50vh;
      }
    }

    &:last-child {
      height: 200vh
    }
  }

  .swiper-slide {
    @apply transition-opacity;
    opacity: 0 !important;
      &.swiper-slide-active {
        opacity: 1 !important;
      }
  }
}



.cities {
  display: inline-block;

  div,
  span {
    display: inline-block;
  }

  span {
    padding: .625rem 1.5rem;
  }

  span:not(:nth-child(2)) {
    top: 0;
    left: 0;
  }
  
}

.catalog-opora-animation {
    --transform-x: left;
    --transform-y: top;
    img {
        --width: auto;

        min-width: var(--width) !important;
        width: var(--width) !important;
    }
    & > .catalog-item {
        transform-origin: var(--transform-x) var(--transform-y) ;
        width: max-content;
        
        &:nth-child(1){
            top: 52.76315789473684%;
            right: 97.72222222222222%;
            --transform-x: right;

            img {
                --width: min(34.77777777777778vw, 281px);
            }
        }

        &:nth-child(2){
            bottom: 55.26315789473684%;
            right: 98.88888888888889%;
            --transform-x: right;
            --transform-y: bottom;

            img {
                --width: min(31.89722222222222vw, 281px);
            }
        }

        &:nth-child(3){
            bottom: 62.49210526315789%;
            right: 43.33333333333333%;
            --transform-y: bottom;
            --transform-x: right;
            img {
                --width: min(41.94444444444444vw, 281px);
            }
        }

        &:nth-child(4){
            bottom: 60.99868421052632%;
            left: 70.83333333333333%;
            --transform-y: bottom;
            img {
                --width: min(38.05555555555556vw, 281px);
            }
        }

        &:nth-child(5){
            top: 51.53061224489796%;
            left: 100%;
            img {
                --width: 270.11px;
            };
        }

        &:nth-child(6){
            top: 62.10526315789474%;
            left: 62.22222222222222%;
            img {
                --width: min(32.77777777777778vw, 281px);
            }
        }

        
    }

    #CatalogOporaAnimationTargetMain {
        width: fit-content;
        height: fit-content;
        top: 64.47368421052632%;
        right: 49.00833333333333%;
        --transform-x: right;

        img {
            --width: min(36.11111111111111vw, 281px);
            
        }
    }
}



#CatalogOporaAnimationTarget {
    position: relative;
    z-index: 99;

    .catalog-item__img-container {
        transform-origin: left top;
        &.disabled-default-animation {
            cursor: default !important;
            .catalog-item__img{

                &::before {
                    background-color: rgba(12,12,12,0) !important;
                }

                background-color: #f1efe9 !important;


                .catalog-item__btn {
                    --tw-bg-opacity: 1;
                    background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
                }
            }
        }

        &:not(.disabled-default-animation) {
            transition: transform ease;
            .catalog-item__img {
                transform: none !important;
            }
        }
    }
}

.catalog-opora-animation > .catalog-item > .catalog-item__img {
    // @apply transition-transform;
}


@screen xl {
    .catalog-opora-animation {
        & > .catalog-item {
            &:nth-child(1){
                top: 66.12244897959184%;
                right: 75.0734375%;
    
                img {
                    --width: 268.59px;
                }
            }
    
            &:nth-child(2){
                bottom: 41.73469387755102%;
                right: 71.97916666666667%;
                --transform-x: right;
                --transform-y: bottom;
    
                img {
                    --width: 284px;
                }
            }
    
            &:nth-child(3){
                bottom: 61.27244897959184%;
                right: 53.33333333333333%;
                img {
                    --width: 215px;
                }
            }
    
            &:nth-child(4){
                bottom: 59.65204081632653%;
                left: 60.88541666666667%;
                --transform-y: bottom;
                img {
                    --width: 216px;
                }
            }
    
            &:nth-child(5){
                left: 73.3796875%;
            }
    
            &:nth-child(6){
                top: 66.53061224489796%;
                left: 53.02083333333333%;
                img {
                    --width: 258px;
                }
            }
    
            
        }
    
        #CatalogOporaAnimationTargetMain {
            width: fit-content;
            height: fit-content;
            top: 69.48979591836735%;
            right: 54.6875%;
    
            img {
                --width: 216px;
                
            }
        }
    }
    
}