*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  // font-family: Inter, sans-serif;
  font-family: Manrope, sans-serif;
  @apply text-white;
  // overflow-x: hidden;
  // max-width: 100vw;
}

*,
html {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-text-size-adjust: 100% !important;
  -moz-text-size-adjust: 100% !important;
  -ms-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
  font-variant-ligatures: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: optimizeLegibility !important;
  font-stretch: normal;
  font-optical-sizing: auto;
}

// POTENTIAL

html.has-scroll-smooth,
html.has-scroll-smooth body {
  width: 100vw;
  height: 100vh;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html.has-scroll-smooth .page {
  overflow: hidden;
}

.footer {
  margin-top: auto;
}

.container {
  max-width: 1920px !important;
}


.main {
  z-index: 20;
  min-height: 100vh;
  @apply pt-24 lg:pt-32;
  // --tw-bg-opacity: 1;
  // background-color: rgb(9 9 9 / var(--tw-bg-opacity));
  background-color: rgb(0, 0, 0);
}

// POTENTIAL---------------->

.default-background {
  @apply bg-white bg-opacity-[0.02] border border-white border-opacity-10 rounded-2xl sm:rounded-3xl;
}

.swiper-button {
  @apply w-10 h-10 border-gray20 transition-colors cursor-pointer static;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.25px solid;
  border-radius: 12px;
  svg {
    @apply fill-gray20;
  }

  &.swiper-button-right {
    svg {
      transform: scale(-1, 1);
    }
  }

  &.swiper-button-disabled {
    @apply cursor-default border-gray50;
    svg {
      @apply fill-gray30;
    }
  }

  &:not(.swiper-button-disabled):hover {
    @apply border-gray30;
  }
}

.button {
  @apply flex gap-1 items-center text-14semi px-6 py-[0.625rem] transition-colors justify-center;
  border-radius: 0.8125rem;

  svg {
    @apply w-4 h-4;
  }

  &.only-icon {
    @apply p-[0.625rem];
  }

  &.button--primary {
    @apply bg-white bg-opacity-85 text-black80;

    &:hover {
      @apply bg-opacity-100;
    }
  }

  &.button--secondary {
    @apply text-gray0 border border-gray60 transition-colors;

    &:not(div):hover {
      @apply border-gray20;
    }
  }

  &-single-stroke {
    svg {
      @apply w-6 h-6 stroke-gray60;
    }
  }
}

.button--link {
  --UnderlineColor: #fff; /*цвет подчеркивания*/
  --UnderlineHeight: 1.1px; /*размер подчеркивания*/
  @apply inline-flex;
  @keyframes link-line {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(200%);
    }
  }
  position: relative;
  overflow: hidden;
  .underline-line {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
    height: var(--UnderlineHeight);
    background: var(--UnderlineColor);
    &:before {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0;
      display: block;
      width: 100%;
      height: var(--UnderlineHeight);
      background: var(--UnderlineColor);
      transform: translateX(-200%);
    }
  }
  &:hover {
    cursor: pointer;
    .underline-line {
      animation: link-line 0.7s cubic-bezier(0.52, 0.04, 0.28, 0.97);
    }
  }
}

.catalog-item {
  @apply flex flex-col gap-3 sm:gap-4;

  .catalog-item__img {
    @apply bg-black80 rounded-3xl overflow-hidden relative border border-black80 transition-colors relative;

    &::before {
      content: "";
      @apply transition-colors absolute;
      inset: 1px;
      background-color: rgba(12, 12, 12, 0);
    }

    img {
      @apply aspect-[279/286] sm:aspect-[332/375] w-full object-contain mx-auto;
      max-width: 332px;
    }

    .catalog-item__btn {
      @apply bg-black70 w-8 h-8 flex items-center justify-center absolute bottom-4 right-4 transition-colors;
      border-radius: 9px;
      &::after {
        content: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.78223 3.23977L11.524 7.98158C12.084 8.54158 12.084 9.45795 11.524 10.0179L6.78223 14.7598" stroke="white" stroke-width="1.09091" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" /></svg>');
        width: 17.45px;
        height: 17.45px;
      }
    }
  }

  .catalog-item__text {
    @apply flex flex-col gap-[6px] sm:gap-1;

    & > p:first-child {
      @apply text-17med sm:text-24med;
    }

    & > p:last-child {
      @apply text-14reg sm:text-16reg text-gray20 transition-colors;
    }
  }

  &.catalog-item--white .catalog-item__img {
    background-color: #f1efe9;

    .catalog-item__btn {
      @apply bg-white;

      &::after {
        content: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.78125 3.23977L11.5231 7.98158C12.0831 8.54158 12.0831 9.45795 11.5231 10.0179L6.78125 14.7598" stroke="%23575757" stroke-width="1.09091" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      }

    }
  }

  &:hover {
    .catalog-item__img {
      @apply bg-[#090909] ;

      &::before {
        background-color: rgba(12, 12, 12, 0.2) ;
      }
    }

    .catalog-item__btn {
      --tw-bg-opacity: 1 !important;
      background-color: rgb(27 27 27 / var(--tw-bg-opacity)) !important;
    }

    .catalog-item__text {
      & > p:last-child {
        @apply text-white ;
      }
    }
  }
}

.input {
  @apply px-6 py-3 border rounded-xl text-14med text-gray20 block;
  transition-property: backdrop-filter, background-color, border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  border-color: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.05);

  &::placeholder {
    @apply text-14med text-gray20;
  }

  &:hover {
    backdrop-filter: blur(9px);
    background-color: rgba(255, 255, 255, 0.09);
  }

  &:focus,
  &:active {
    @apply bg-black80 border-black80 outline-none;
    backdrop-filter: blur(0px);
    box-shadow: none;
  }

  &.error {
    background-color: rgba(255, 0, 0, 0.1);
    border-color: rgba(255, 0, 0, 0.18);
  }
}

.checkbox {
  margin: 3px;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.11);
  width: 18px;
  height: 18px;
  border-radius: 4px;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.06);
  cursor: pointer;
  box-shadow: none !important;
  outline: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: backdrop-filter, background-color, border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  &:hover,
  &:checked:hover {
    border-color: rgba(255, 255, 255, 0.08) !important;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.12) !important;
  }

  &:checked {
    border-color: rgba(255, 255, 255, 0.19) !important;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.06) !important;
  }
}

.slider-wrapper {
  .slider-slide {
    @apply min-w-[15.75rem] sm:min-w-[27.8125rem] max-w-[15.75rem] sm:max-w-[27.8125rem];
  }
}

.gradient-line {
  width: 100%;
  height: 1px;
  background: linear-gradient(157deg, #ff5d2b 0%, #a839ff 33%, #21aadf 100%);
}

.text-gradient {
  display: inline-block;
  background: linear-gradient(157deg, #ff5d2b 0%, #a839ff 33%, #21aadf 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-animation {
  animation: gradient 5s ease infinite;
  background-size: 400% 400%;
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  width: fit-content;
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

.animation-block--v1__img {
  height: 75.27777777777778vw;
  max-height: 600px;
  position: relative;

  img {
    @apply transition-opacity;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    opacity: 0;

    &.show {
      opacity: 1;
    }
  }

  @screen xl {
    height: 600px;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: calc(14px + 6.2857 * (100vw - 1024px) / 2816);
  }
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 120rem !important;
  }
}

@media screen and (min-width: 3840px) {
  html {
    font-size: 20.2858px;
  }
}

.showing-from-bot {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1000ms;
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  -ms-transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.c-scrollbar {
  @apply bg-black70;
  z-index: 9999;
  width: 7px;
  .c-scrollbar_thumb {
    width: 100%;
    @apply bg-gray30;
    border-radius: 30px;
    margin: 0 !important;
  }
}

.modal {
  display: none;
  max-width: unset !important;

  &#modalForm {
    @apply transition-opacity  bg-black100 bg-opacity-60;
    transition-duration: 300ms;
    opacity: 0;
  }

  &#mobileNav {
    z-index: 998;
  }

  &--opened {
    &#modalForm {
      opacity: 1;
    }
  }
}

.sticky-container {
  position: relative;
  &__el {
    position: sticky;
    top: 0;
  }
}


.side-socials {
  @apply overflow-hidden rounded-xl border-gray60 border py-[0.8125rem] px-2 lg:px-[0.8125rem];

  .hidden-elem {
    transition-property: grid-template-rows;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    grid-template-rows: 1fr;
  }

  &__hide-wrapper {
    padding-bottom: 0.8125rem;
  }

  &__hide-container {
    @apply border-b border-gray50;
    padding-bottom: 0.8125rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__btn {
    @apply px-[0.3125rem] lg:px-[0.6875rem];

    display: flex;
    gap: 0.375rem;
    
    svg {
      @apply transition-colors;
      width: 1.375rem;
      height: 1.375rem;

      path {
        @apply transition-colors;
      }
    }
    .text {
      @apply hidden lg:block flex-1 text-14reg transition-colors;
    }


    .side-socials > & {
      svg path{
        @apply stroke-gray60 ;
      }

      .text {
        @apply text-gray60 ;
      }
    }
  }


  &.lock {
    
    .hidden-elem {
      grid-template-rows:  0fr;
    }


     & > .side-socials__btn {
          svg path{
            @apply stroke-white;
          }
    
          .text {
            @apply text-white ;
          }
      }

  }
}

.b24-widget-button-inner-container {
  display: none !important;
}

.bx-livechat-position-bottom-right {
  transform-origin: bottom left !important;
  bottom: 6rem !important;
  left: 2.5rem !important;
  right: auto !important;
}

.b24-widget-button-popup.b24-widget-button-popup-show{
  display: none !important;
  animation: none !important;
  visibility: hidden !important;
}