*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Manrope, sans-serif;
  @apply text-white;
}

*,
html {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-text-size-adjust: 100% !important;
  -moz-text-size-adjust: 100% !important;
  -ms-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
  font-variant-ligatures: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: optimizeLegibility !important;
  font-stretch: normal;
  font-optical-sizing: auto;
}

// POTENTIAL

.page {
  @apply bg-black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.footer {
  margin-top: auto;
}

.container {
  max-width: 1920px !important;
}


// POTENTIAL---------------->


.modal {
  display: none;
  max-width: unset !important;

  &#modalForm {
    @apply transition-opacity  bg-black100 bg-opacity-60;
    transition-duration: 300ms;
    opacity: 0;
  }

  &#mobileNav {
    z-index: 998;
  }

  &--opened {
    &#modalForm {
      opacity: 1;
    }
  }
}


.button {
  svg {
    path {
      @apply transition-colors;
    }
  }
  &-header {
    // @apply text-14semi py-3 px-6 rounded-full border border-accnet bg-accnet flex items-center gap-[0.675rem] justify-center transition-colors;
    @apply text-14semi py-3 px-6 rounded-full border bg-trans border-white text-white flex items-center gap-[0.675rem] justify-center transition-colors;

    svg {
      path {
        stroke: #fff !important;
      }
    }

    &:not(:disabled, .disabled):hover {
      @apply bg-white  text-accnet;
      
    }
  }
  &-primary {
    @apply text-14semi py-3 px-6 rounded-full border border-accnet bg-accnet flex items-center gap-[0.675rem] justify-center transition-colors;

    svg {
      path {
        stroke: #fff !important;
      }
    }

    &:not(:disabled, .disabled):hover {
      @apply bg-white border-white text-accnet;
      
    }
  }

  &-secondary {
    @apply text-14semi py-3 px-6 rounded-full border border-accnet  flex items-center justify-center gap-[0.675rem] transition-colors;

    svg {
      path {
        stroke: #fff !important;
      }
    }

    &:not(:disabled, .disabled):hover {
      @apply bg-trans border-blackBlue text-black200;

      svg {
        path {
          stroke: rgb(198 198 198) !important;
        }
      }
    }
  }
  &-link {
    @apply text-14semi border-b pb-0.5 border-white flex items-center justify-center gap-[0.675rem] transition-colors ;

    svg {
      path {
        stroke: #fff !important;
      }
    }

    &:not(:disabled, .disabled):hover {
      @apply bg-trans border-blackBlue text-black200 border-black200;
 
      svg {
        path {
          stroke: rgb(198 198 198) !important;
        }
      }
    }
  }

  :disabled,
  .disabled {
    border-color: rgb(75, 75, 75 ) !important;
    background-color: rgb(75, 75, 75 ) !important;
    color: rgb(114, 114, 114) !important;
  }
}

.textarea,
.input {
  @apply placeholder:text-black400 hover:placeholder:text-black100 text-black100 text-14med bg-[transparent] rounded-3xl border transition-colors;

  --tw-border-opacity: 1;
    border-color: rgb(75 75 75 / var(--tw-border-opacity)) !important;
  outline: 0 !important;
  box-shadow: none !important;
  padding: 12px 20px 15px;

  &.error {
    @apply placeholder:text-error hover:placeholder:text-error;
    border-color: rgba(227, 6, 6, 1) !important;
  }
}

.textarea {
  @apply h-[138px];
  resize: none;
}

.inuput-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  position: relative;
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 500;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  line-height: 125%;
  margin-bottom: 35px;
  padding-left: 44px;
  cursor: pointer;
}

.inuput-checkbox::after {
  content: '';
  position: absolute;
  width: 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1;
  height: 18px;
  background: transparent;
  border: 2px solid #5c5c5c;
  border-radius: 2px;
  left: 13px;
  top: 50%;
  transform: translateY(-50%)
}

.inuput-checkbox::before {
  content: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16 0H2C0.89 0 0 0.9 0 2V16C0 17.1 0.89 18 2 18H16C17.11 18 18 17.1 18 16V2C18 0.9 17.11 0 16 0ZM7 14L2 9L3.41 7.59L7 11.17L14.59 3.58L16 5L7 14Z" fill="%23058FD8"/></svg>');
  position: absolute;
  width: 18px;
  display: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 2;
  height: 18px;
  background: transparent;
  left: 13px;
  top: 50%;
  transform: translateY(-50%)
}


.checkbox:checked + .inuput-checkbox::after {
  display: none;
}

.checkbox:checked + .inuput-checkbox::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkbox:not(:checked) + .inuput-checkbox + button {
  @apply border-black800 bg-black800 text-black600 hover:border-black800 hover:bg-black800 cursor-default;
}


// Accordion

.accardeon-item {
  & > &__list {
    transition-property: grid-template-rows;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    & > div {
      min-height: 0;
    }
  }

  &__but {
    cursor: pointer;

    path:first-child{
      @apply transition-transform;
      --scale: 1;
      transform: rotate(90deg) scaleX(var(--scale));
      transform-origin: center;
    }
  }

  &.opened {
    & > .accardeon-item__list {
      grid-template-rows: 1fr;
    }

      .accardeon-item__but path:first-child{
        --scale: 0;
      }
  }
}

// partners


.line-scroll {
  &-left,
  &-right {
    @apply h-full w-fit absolute top-0 left-0;

    &__wrapper {
      @apply h-full w-fit;
    }
  }

  &-left {
    &__wrapper {
      animation: lineScrollRight 100s infinite linear;
    }
  }

  &-right {
    @apply flex justify-end left-auto right-0;
    &__wrapper {
      animation: lineScrollLeft 100s infinite linear;
    }
  }

  &__cont {
    @apply flex gap-x-11 sm:gap-x-20 items-center h-full w-fit relative;

    a {
      @apply block h-full min-w-[84px] sm:min-w-[187px] max-w-[84px] sm:max-w-[187px] w-full;

      img {
        @apply aspect-[84/57] sm:aspect-[187/125] w-auto h-full;
      }
    }
  }
}

@keyframes lineScrollLeft {
  0% {
    transform: translateX(0%);
    animation-timing-function: linear;
  }

  100% {
    transform: translateX(50%);
  }
}

@keyframes lineScrollRight {
  0% {
    transform: translateX(0%);
    animation-timing-function: linear;
  }

  100% {
    transform: translateX(-50%);
  }
}

.before-bg-black {
  @apply relative before:content-[""] before:bg-black before:bg-opacity-50 before:absolute before:w-full before:h-full before:block before:right-0 before:top-0;
}


// Accordion---------------->


.drop-down {
  &:not(.opened) .drop-down__list > *:not(:nth-child(1), :nth-child(2), :nth-child(3)) {
    display: none;
  }

  &__open {
    &::after {
      content: 'Скрыть';
      display: none;
    }

    .opened & {
      span {
        display: none;
      }

      &::after {
        display: block;
      }

    }


    .disbled & {
      display: none !important;
    }
  }
  


}


@media screen and (min-width: 678px) {
  html {
    font-size: calc(14px + 6.2857 * (100vw - 678px) / 3903.4);
    // font-size:  max( 14px, min(16px, calc(14px + 5 * ((100vw - 921.6px) / 518.4))) );
  }
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 120rem !important;
  }
}

@media screen and (min-width: 3840px) {
  html {
    font-size: 20.2858px;
  }
}